@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo-bold-webfont.woff2") format("woff2"), url("../fonts/aleo-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo-light-webfont.woff2") format("woff2"), url("../fonts/aleo-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo-regular-webfont.woff2") format("woff2"), url("../fonts/aleo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo-bold-webfont.woff2") format("woff2"), url("../fonts/aleo-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'aleo';
  src: url("../fonts/aleo-italic-webfont.woff2") format("woff2"), url("../fonts/aleo-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

body {
  margin: 15px !important;
  font-family: aleo, 'Times New Roman', Times, serif;
  overflow-x: hidden; }

h1 {
  font-family: aleo, 'Times New Roman', Times, serif; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 20px; }

.bg_img {
  height: 742px;
  max-height: 1770px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%; }

.container {
  max-width: 1111px;
  margin: 0 auto; }

.header__container, .sec1__container {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.sec1__container {
  top: 50%; }

.header {
  color: white; }

.header__title {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-family: 'Josefin Sans', sans-serif;
  margin: 50px 0 10px 0; }

.header__slogan {
  font-size: 22px;
  letter-spacing: .3em;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px 0 50px 0; }

.search__button {
  background-color: #5474fd;
  height: 56px;
  width: 100%;
  border: none;
  margin: 0 2px; }

.button__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  .button__container svg {
    margin: 5px; }
  .button__container p {
    margin-left: 20px; }

.search__input {
  height: inherit;
  box-sizing: border-box;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  border: none; }
  .search__input:active {
    border: none; }
  .search__input:focus {
    border: none; }
  .search__input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1; }
  .search__input::-moz-placeholder {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1; }
  .search__input:-ms-input-placeholder {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1; }
  .search__input::-ms-input-placeholder {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1; }
  .search__input::placeholder {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1; }

.search {
  width: 100%;
  height: 60px;
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column; }
  .search p {
    text-transform: uppercase;
    color: white; }

.scroll {
  margin-top: 150px;
  font-family: 'Josefin Sans', sans-serif;
  color: white; }
  .scroll a {
    color: white;
    text-decoration: none; }
    .scroll a:hover {
      text-shadow: 0 0 5px white; }

.nav {
  height: 80px;
  background-color: #5474fd;
  color: white;
  font-family: aleo, 'Times New Roman', Times, serif; }

.nav__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center; }

#magnifyer {
  fill: white; }

.burger__img, .close__img {
  fill: white;
  stroke-linejoin: round;
  height: 42px;
  width: 42px;
  padding: 10px; }
  .burger__img:hover, .close__img:hover {
    stroke: white; }

.burger[type="checkbox"] {
  display: none; }

.nav__list {
  display: none; }

.nav__list {
  position: initial;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70%;
  position: initial;
  background: none;
  box-shadow: none; }

.nav__container {
  position: relative;
  height: inherit; }

.nav__item {
  padding: 20px 20px;
  margin: 0 10px;
  background: #5474fd; }
  .nav__item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px; }
  .nav__item:hover {
    background-color: white;
    transition: all .3s ease-in-out; }
    .nav__item:hover a {
      color: #5474fd; }

.burger:checked ~ label .burger__img {
  display: none; }

.burger:checked ~ .nav__list {
  display: initial; }

.burger:not(:checked) + label .close__img {
  display: none; }

.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  padding: 0 15px; }

.menu {
  display: none;
  list-style: none;
  position: absolute;
  left: 0;
  top: 63px;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding: 0; }

.sec1_img {
  height: 685px; }

.section1 {
  position: relative; }

.sec1__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1111px;
  width: 100%;
  text-align: left; }

.button {
  height: 60px;
  width: 220px;
  background-color: #5474fd;
  color: white;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin: 50px auto; }
  .button:hover {
    box-shadow: 0 0 10px white; }

.sec1__left {
  max-width: 550px;
  font-size: 16 px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  padding: 10px;
  text-align: center; }

.sec1__right {
  display: none; }

.title, .text {
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif; }

.text {
  line-height: 1.5; }

.sec1__title {
  margin-bottom: 50px; }

.sec11 {
  height: 250px;
  background-color: #333333; }

.icon {
  color: white;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px; }
  .icon svg {
    fill: #5474fd; }
  .icon:hover svg {
    fill: #ff6363; }

.sec11_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }

.label {
  font-size: 20px;
  margin: 0 20px; }

.line {
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: 2px solid transparent;
  border-radius: 50%; }

.sec {
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.sec__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: inherit;
  padding: 100px 0;
  box-sizing: border-box; }

.sec__wrapper--right {
  -ms-flex-pack: end;
  justify-content: flex-end; }

#sec02_bg {
  background-image: url("../img/sec02_bg.png"); }

#sec03_bg {
  background-image: url("../img/sec03_bg.png"); }

#sec04_bg {
  background-image: url("../img/sec04_bg.png");
  height: 800px;
  background-size: cover; }

.sec__container {
  height: 370px;
  width: 540px;
  background-color: #000000cc;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; }

.sec_right {
  right: 330px; }

.sec4__container {
  position: relative; }

.sec4__content {
  padding-top: 30px; }

.sec4__title {
  text-align: center; }

.comment__title {
  text-transform: uppercase;
  margin: 0 0 43px 0; }

.little__shit {
  color: #5474fd;
  font-size: 32px; }

.comment__text {
  margin: 0;
  font-size: 14px; }

.comment__container {
  background-color: #333333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 445px;
  margin: 0 auto; }

.comment__img {
  background-image: url(../img/sec04_img.png);
  height: 284px;
  max-width: 445px;
  width: 100%;
  background-position: center; }

.comment__wrapper {
  -ms-flex-negative: 100;
  flex-shrink: 100;
  padding: 50px; }

.sec4__title {
  text-align: center; }

.footer {
  height: 270px;
  background-color: #232323;
  font-family: 'Josefin Sans', sans-serif;
  color: white; }

.footer__container {
  padding-top: 120px;
  text-align: center;
  max-width: 170px;
  margin: 0 auto; }

.footer__title {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 10px 0; }

.footer__slogan {
  font-size: 16px;
  letter-spacing: .04em;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10px 0 25px 0; }

.social__list {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.social__ref {
  color: white; }
  .social__ref:hover {
    color: #5474fd; }

@media (min-width: 640px) {
  .search {
    width: 600px;
    height: 60px;
    -ms-flex-direction: row;
    flex-direction: row; }
  .search__input {
    font-size: 14px; }
  .search__button {
    background-color: #5474fd;
    height: 56px;
    width: 150px;
    border: none;
    margin: 0 2px; }
  .button__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center; }
  .sec1__right {
    text-align: right;
    display: initial; }
  .sec1__right img:nth-child(1) {
    padding-right: 0; }
  .sec1__left {
    text-align: initial; }
  .title, .text {
    text-align: left; }
  .icon {
    display: initial; }
  .icon:nth-child(5) {
    margin-right: 90px; }
  .icon:nth-child(1) {
    margin-left: 90px; }
  .sec11 {
    height: 340px; }
  .sec11_container {
    height: inherit;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: initial; }
  .label {
    font-size: 26px;
    position: absolute;
    width: 220px;
    text-align: center;
    font-size: 20px;
    top: 75px;
    left: -80px;
    display: initial;
    margin: initial; }
  .line {
    border-top: 2px dashed gray;
    border-radius: 50%;
    height: 250px;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .sec__container {
    text-align: left; }
  .sec4__title {
    text-align: center; } }

@media (min-width: 783px) {
  .search {
    width: 650px; }
  .burger__img {
    display: none; }
  .sec1__right img:nth-child(1) {
    padding-right: 120px; }
  .menu {
    position: initial;
    display: -ms-flexbox;
    display: flex;
    max-width: 530px;
    padding: 0; }
  .nav__item {
    padding: 0;
    background: none; }
    .nav__item:hover {
      background: none; }
      .nav__item:hover a {
        text-shadow: 0 0 5px white;
        color: white; }
  .icon:nth-child(5) {
    margin-right: 90px; }
  .icon:nth-child(1) {
    margin-left: 90px; }
  .label {
    font-size: 36px; } }

@media (min-width: 1100px) {
  .comment__container {
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: unset; }
  .comment__img {
    height: 284px;
    width: 445px;
    -ms-flex-preferred-size: 445px;
    flex-basis: 445px; }
  .sec4__content {
    padding-top: 100px; }
  .sec4__title {
    margin-bottom: 90px; }
  #sec04_bg {
    height: 730px; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }
