@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo-bold-webfont.woff2') format('woff2'),
         url('../fonts/aleo-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo-light-webfont.woff2') format('woff2'),
         url('../fonts/aleo-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo-regular-webfont.woff2') format('woff2'),
         url('../fonts/aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo-bold-webfont.woff2') format('woff2'),
         url('../fonts/aleo-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'aleo';
    src: url('../fonts/aleo-italic-webfont.woff2') format('woff2'),
         url('../fonts/aleo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}




body {
    margin: 15px;
    font-family: aleo, 'Times New Roman', Times, serif;
}



h1 {
    font-family: aleo, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 20px;
}

.bg_img {
    height: 742px;
    max-height: 1770px;
    display: block;
    object-fit: cover;
    // object-position: left;
    width: 100%;
    // height: 100%;
}

.container {
    max-width: 1111px;
    // width: 90%;
   margin: 0 auto;

//    position: relative;

    
}

.header__container, .sec1__container {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.sec1__container {
    top: 50%;
}

.header {
    color: white;
}

.header__title {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-family: 'Josefin Sans', sans-serif;
    margin: 50px 0 10px 0;
}

.header__slogan {
    font-size: 22px;
    letter-spacing: .3em;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0 50px 0;
}

.search {
    
}

.search__button {
    background-color: $color-search-button;
    height: 56px;
    width: 100%;
    border: none;
    margin: 0 2px;
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        margin: 5px;
    }
}

.search__input {
    height: inherit;
    box-sizing: border-box;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;
    border: none;

    &:active {
        border: none;
    }

    &:focus {
        border: none;
    }

    &::placeholder {
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 1;
    }
}

.search {

    width: 100%;
    // width: 50%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    p {
        text-transform: uppercase;
        color: white;
    }
}

.scroll {
    margin-top: 150px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            text-shadow: 0 0 5px white;
        }
    }
}



.nav {
    height: 80px;
    background-color: $color-main-blue;
    color: white;
    font-family: aleo, 'Times New Roman', Times, serif;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger__img, .close__img {
    fill: $color-menu-active;
    stroke-linejoin: round;
    height: 42px;
    width: 42px;
    padding: 10px ;

    &:hover {
        // text-shadow: 0 0 5px white;


        
    }
}

.burger[type="checkbox"] {
    display: none;
}

.nav__list {
    display: none;
}

.nav__list {
    position: initial;
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: initial;
    background: none;
    box-shadow: none;
}

// .burger__img {
//     display: none;
// }

.nav__container {
    position: relative;
    height: inherit;
}

.nav__item {
    padding: 20px 20px;
    // border-top: 3px solid transparent;
    // background: none;
    // margin: 0;
    margin: 0 10px;
    background: $color-main-blue;

    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
    }

    &:hover {
        // border-top: 3px solid $color_menu_active;
        background-color: white;
        transition: all .3s ease-in-out;

        & a {
            // color: initial;
            // font-weight: 700;
            color: $color-main-blue;
            // text-shadow: 0 0 5px white;
            // font-weight: 700;
        }
    }
}

.burger:checked ~ label .burger__img {
    display: none;
}

.burger:checked ~ .nav__list {
    display: initial;
}

.burger:not(:checked) + label .close__img {
    display: none;
}

.logo {
    font-family:'Josefin Sans', sans-serif;
    font-size: 24px;
    padding: 0 15px;
}



.menu {
    display: none;
    list-style: none;
    // float: left;
    position: absolute;
    left: 0;
    top: 63px;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding: 0;


}

.sec1_img {
    height: 685px;
}

.section1 {
    position: relative;
}

.sec1__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1111px;
    width: 100%;
    text-align: left;
}

.button {
    height: 60px;
    width: 220px;
    background-color: $color-main-blue;
    color: white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    border: none;
    margin: 50px auto;

    &:hover {
        box-shadow: 0 0 10px white;
    }
}

.sec1__left {
    max-width: 550px;
    font-size: 16 px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5;
    padding: 10px;
    text-align: center;
}

.sec1__right {
    // text-align: right;
    display: none;

}

.title, .text {
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.text {
    line-height: 1.5;
}

.sec1__right img:nth-child(1) {
    // padding-right: 120px;
}

.sec1__title {
    margin-bottom: 50px;
}

.sec11 {
    height: 250px;
    background-color: $color-sec11;
}

.icon {
    color: white;
    position: relative;

    display: flex;
    align-items: center;

    padding: 10px;

    & svg {
        fill: $color-main-blue;
    }

    &:hover svg {
        fill: $color-icon-active;
    }
}

.sec11_container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    // padding-top: 30px;
    // max-width: 850px;
}

.label {
    // position: absolute;
    // width: 220px;
    // text-align: center;
    font-size: 20px;
    // left: -70px;
    margin: 0 20px;
    
}

.line {
    flex-grow: 1;
    border: 2px solid transparent;
    // border-left: 2px dashed gray;
    border-radius: 50%;
    // height: 250px;
    // align-self: flex-end;
}

.sec {
    // position: relative;
    height: 700px;
    background-position: center;
}

.sec__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    // align-content: center;
    height: inherit;
    padding: 100px 0;
    box-sizing: border-box;
}

.sec__wrapper--right {
    justify-content: flex-end;
}

#sec02_bg {
    background-image: url('../img/sec02_bg.png');
}

#sec03_bg {
    background-image: url('../img/sec03_bg.png');
}

#sec04_bg {
    background-image: url('../img/sec04_bg.png');
}

.sec__container {
    height: 370px;
    width: 540px;
    background-color: $color-block-background;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    // position: absolute;
    // top: 235px;
    // left: 333px;
    // margin: 0;
}

.sec_right {
    right: 330px;
    // float: right;
}

.sec4__container {
    position: relative;
}

.sec4__content {
    position: absolute;
    top: 200px;
}


@include respond-to('xsmall') {

    .search {
        width: 600px;
        // width: 50%;
        height: 60px;
        // background-color: white;
        flex-direction: row;
    }

    .search__input {
        font-size: 14px;
    }

    .search__button {
        background-color: $color-search-button;
        height: 56px;
        width: 150px;
        border: none;
        margin: 0 2px;
    }

    .button__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sec1__right {
        text-align: right;
        display: initial;
    }

    .sec1__right img:nth-child(1) {
        padding-right: 0;
    }

    .sec1__left {
        text-align: initial;
    }

    .title, .text {
        text-align: left;
    }

    .icon {
        display: initial;
    }

    .icon:nth-child(5) {
        margin-right: 90px;
    }

    .icon:nth-child(1) {
        margin-left: 90px;
    }

    .sec11 {
        height: 340px;
    }

    .sec11_container {
        height: inherit;
        flex-direction: row;
        padding-top: initial;
    }

    .label {
        font-size: 26px;
        position: absolute;
        width: 220px;
        text-align: center;
        font-size: 20px;
        top: 75px;
        left: -80px;
        display: initial;
        margin: initial;
    }


    .line {
        // flex-grow: 1;
        // border: 2px solid transparent;
        border-top: 2px dashed gray;
        border-radius: 50%;
        height: 250px;
        align-self: flex-end;
        // display: initial;
    }

    .sec__container {
        text-align: left;
    }
}


@include respond-to('small') {


    .search {
        width: 650px;
        // width: 50%;
        // height: 60px;
        // background-color: white;
    }

    .burger__img {
        display: none;
    }

    .sec1__right img:nth-child(1) {
        padding-right: 120px;
    }

    .menu {
        position: initial;
        display: flex;
        max-width: 530px;
        
        padding: 0;
    }

    .nav__item {
        padding: 0;
        background: none;

        &:hover {
            background: none;

            a {
            text-shadow: 0 0 5px white;
            color: white;
            }
        }
    }

    .icon:nth-child(5) {
        margin-right: 90px;
    }

    .icon:nth-child(1) {
        margin-left: 90px;
    }

    .label {
        font-size: 36px;
    }
}


