$color-main-blue: #5474fd;

$color-sec11: #333333;

$color-search-button: #5474fd;

$color-icon-active: #ff6363;

$color-block-background: #000000cc;

$color_menu_active: white;

$color_footer_bg: #232323;